nav {
  padding: 0 1rem;
}

.container.content {
  min-height: calc(100vh - 79px - 64px);
  padding: 1.5rem;
  border: 1px solid black;
  font-size: 50px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem
}

.search-button {
  position: absolute;
  right: 0.5rem;
  top: 2rem;
  border-radius: 0.5vw;
  width: 5vw;
  height: 2vw;
  font-size: 1vw;
}

.search-button:hover {
  cursor: pointer;
}